<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bot Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <style>
        .left-panel {
            padding-right: 20px;
            color: rgb(32, 32, 39);
            
        }
    </style>
</head>
<body>
    <div class="container mt-3">
        <div class="row">
            <h1>Привет {{username}}!</h1>
        </div>
        <div class="row">
            <div class="col-6 left-panel">
                <h2>Добавить нового бота</h2>
                <form id="addBotForm">
                    <input type="text" id="botName" class="form-control mb-2" placeholder="Введите название бота">
                    <input type="text" id="botToken" class="form-control mb-2" placeholder="Введите токен бота">
                    <button class="btn btn-primary mb-3" onclick="addNewBot()">Добавить</button>
                </form>
            </div>
            <div class="col-6">
                <h2>Ваши боты</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Bot Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="botTableBody">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        function addNewBot() {
            event.preventDefault()
            let botToken = document.getElementById('botToken').value;
            let botName = document.getElementById('botName').value;
            fetch("/add_new_bot/" + botName + "7&" +botToken)
                .then(response => response.text())
                .then(data => console.log(data))
                .catch(error => console.error('Ошибка:', error));
            console.log("http://127.0.0.1:5000/" + botName + "7&" +botToken + "/ai_chat");
            window.location.replace("http://127.0.0.1:5000/" + botName + "7&" +botToken + "/ai_chat");
            return false;
        }
        async function populateBotTable(bot_state) {
                    try {
                        const response = await fetch('/get_user_bots', { credentials: 'same-origin' });
                        if (!response.ok) {
                            throw new Error('Unauthorized');
                        }
                        const data = await response.json();
                        console.log(data);
                        let botTableBody = document.getElementById('botTableBody');
                        Object.keys(data).forEach(bot => {
                            let row = botTableBody.insertRow();
                            let nameCell = row.insertCell(0);
                            let actionCell = row.insertCell(1);
                            nameCell.innerHTML = bot;
                            actionCell.innerHTML = '<a href="/'+ bot + "7&" + data[bot] + '"><button class="btn btn-primary">Go to Bot</button></a>';
                        });
                        // if (bot_state == "new_bot") {
                        //     console.log(bot_state)
                        //     window.location.replace("http://127.0.0.1:5000/" + botName + "7&" +botToken + "/ai_chat");
                        //     console.log("http://127.0.0.1:5000/" + botName + "7&" +botToken + "/ai_chat");
                        // }
                        
                    } catch (error) {
                        console.error('Error:', error);
                        // alert('Failed to fetch bot list. Please login first.');
                    }
                }
            populateBotTable();
    </script>
</body> -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='globals.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="home-page">
      <div class="sidebar">
        <div class="ellipse"></div>
        <div class="text-wrapper"><strong>@{{username}}</strong></div>
        <div class="div name">Damn IT</div>
        <div class="bot-list">
          {% for bot_name, bot_token in bots_dict.items()%}
            {% if bot_name|length > 13 %}
                <li>
                    <div class="bot-piece">
                        <a class="bot-name" href="/{{bot_name}}7&{{bot_token}}">{{bot_name[0:13] + "..."}}</a>
                        <img class="settings" href="/{{bot_name}}7&{{bot_token}}/settings" src="{{ url_for('static', filename='img/settings.svg') }}"/>
                    </div>
                </li>
            {% else %}
                <li>
                    <div class="bot-piece">
                        <a class="bot-name" href="/{{bot_name}}7&{{bot_token}}">{{bot_name}}</a>
                    </div>
                </li>
            {% endif %}
          {% endfor %}
        </div>
        <!-- <img class="line" src="{{ url_for('static', filename='img/line-1.svg') }}"/> -->
        <svg xmlns="http://www.w3.org/2000/svg" class="toggle-button" onclick="setSidebarWidth()" viewBox="0 0 32 32"><g data-name="9-Arrow Up"><path fill="#AB7C94" d="m15.29 5.29-7 7L9.7 13.7 15 8.41V27h2V8.41l5.29 5.29 1.41-1.41-7-7a1 1 0 0 0-1.41 0z"/></g></svg>
      </div>
      <div class="text-wrapper-2">Создай<br />Бота,<br />DamnIT</div>
      <div class="view">
        <button class="overlap-group"><a class="text-wrapper-3">Поехали!</a></button>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
    <script>
      var sidebarstate = true;
    
      function setSidebarWidth() {
        if (sidebarstate == true) {
          var widthContent = 10;
          var widthButton = 43;
          var widthToggle = 0;
          var widthBar = 0;
          sidebarstate = false;
          var rotateButton = 90;
        } else {
          var widthBar = 15;
          var widthButton = 50;
          var widthToggle = 13;
          var widthContent = 23;
          sidebarstate = true;
          var rotateButton = 270;
        }
        $(".sidebar").css("width", widthBar + "%");
        $(".text-wrapper-2").css("left", widthContent + "%");
        $(".toggle-button").css("left", widthToggle + "%");
        $(".toggle-button").css("transform", "rotate(" + rotateButton + "deg)");
        $(".view").css("left", widthButton + '%');
      };

      // setSidebarWidth();
    </script>
  </body>
</html>
