<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bot Management</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <style>
        .left-panel {
            padding-right: 20px;
        }
    </style>
</head>
<body>
    <div class="container mt-3">
        <div class="row">
            <h1>Привет {{username}}!</h1>
        </div>
        <div class="row">
            <div class="col-6 left-panel">
                <h2>Добавить нового бота</h2>
                <form id="addBotForm">
                    <input type="text" id="botName" class="form-control mb-2" placeholder="Введите название бота">
                    <input type="text" id="botToken" class="form-control mb-2" placeholder="Введите токен бота">
                    <button class="btn btn-primary mb-3" onclick="addNewBot()">Добавить</button>
                </form>
            </div>
            <div class="col-6">
                <h2>Ваши боты</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Bot Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="botTableBody">
                        <!-- Здесь будет построена таблица данных -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        function addNewBot() {
            event.preventDefault()
            let botToken = document.getElementById('botToken').value;
            let botName = document.getElementById('botName').value;
            fetch("/add_new_bot/" + botName + "7&" +botToken)
                .then(response => response.text())
                .then(data => console.log(data))
                .catch(error => console.error('Ошибка:', error));
            console.log("http://127.0.0.1:5000/" + botName + "7&" +botToken + "/ai_chat");
            window.location.replace("http://127.0.0.1:5000/" + botName + "7&" +botToken + "/ai_chat");
            return false;
        }
        async function populateBotTable(bot_state) {
                    try {
                        const response = await fetch('/get_user_bots', { credentials: 'same-origin' });
                        if (!response.ok) {
                            throw new Error('Unauthorized');
                        }
                        const data = await response.json();
                        console.log(data);
                        let botTableBody = document.getElementById('botTableBody');
                        Object.keys(data).forEach(bot => {
                            let row = botTableBody.insertRow();
                            let nameCell = row.insertCell(0);
                            let actionCell = row.insertCell(1);
                            nameCell.innerHTML = bot;
                            actionCell.innerHTML = '<a href="/'+ bot + "7&" + data[bot] + '"><button class="btn btn-primary">Go to Bot</button></a>';
                        });
                        // if (bot_state == "new_bot") {
                        //     console.log(bot_state)
                        //     window.location.replace("http://127.0.0.1:5000/" + botName + "7&" +botToken + "/ai_chat");
                        //     console.log("http://127.0.0.1:5000/" + botName + "7&" +botToken + "/ai_chat");
                        // }
                        
                    } catch (error) {
                        console.error('Error:', error);
                        // alert('Failed to fetch bot list. Please login first.');
                    }
                }
            populateBotTable();
    </script>
</body>