<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bot Management</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <style>
        .left-panel {
            padding-right: 20px;
        }
    </style>
</head>
<body>
    <div class="container mt-3">
        <div class="row">
            <div class="col-6 left-panel">
                <h1>Добавить нового бота</h1>
                <form id="addBotForm">
                    <input type="text" id="botToken" class="form-control mb-2" placeholder="Введите токен бота">
                    <button class="btn btn-primary mb-3" onclick="addNewBot()">Добавить</button>
                </form>
            </div>
            <div class="col-6">
                <h1>Ваши боты</h1>
            </div>
        </div>
    </div>
    <script>
        function addNewBot() {
            let botToken = document.getElementById('botToken').value;
            fetch("/add_new_bot/" + botToken)
                .then(response => response.text())
                .then(data => console.log(data))
                .catch(error => console.error('Ошибка:', error));
            return false;
        }
    </script>
</body>